h1 {
  display: flex;
  font-family: Orbitron;
  box-sizing: border-box;
  justify-content: center;
  margin: auto;
  padding: 30px 30px 30px 30px;
}

.form-group {
  display: flex;
  margin: auto;
  box-sizing: border-box;
  flex-direction: column;
  width:  60%;
  padding: 10px 15px 10px 15px; 
}

#lowercase-char {
  padding-bottom: 10px;
}

#uppercase-char {
  padding-bottom: 10px;
}

#numbers-field {
  padding-bottom: 10px;
}

#special-field {
  padding-bottom: 10px;
}

.container {
  margin: auto; 
  display: flex;
  justify-content: center;
  padding: 50px 20px 50px 20px;
}

#display {
  margin: 5px 5px 5px 5px;
  font-size: xx-large;
  text-align: center;  
  background: lightblue;
  box-sizing: content-box;
  width: 50%;
  border-radius: 5px;
}