#welcome {
	margin: auto;
	text-align: center;
	padding: 40px 15px 40px 15px;
}

.form-group {
	margin: auto;
	box-sizing: border-box;
	width:	60%;
	padding: 10px 15px 10px 15px;	
}

.btn {
	margin-top: 10px;
}

.container {
	margin: auto; 
    display: flex;
    justify-content: center;
    padding: 100px 20px 100px 20px;
}

#display {
    margin: 5px 5px 5px 5px;
    font-size: xx-large;
    text-align: center;  
    background: lightblue;
    box-sizing: content-box;
    width: 50%;
    border-radius: 5px;
}

