{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}What to do?{% endblock title %}</title>
    {% block main_styles %}
        <link rel='stylesheet' href='{% static "url_shorten/css/stylesheet.css" %}'>
    {% endblock main_styles %}
</head>
<body> 
    <div id='app'>
        <h1>Welcome to the URL Shortener!</h1>
        <form action="{% url 'urlshorten:shorten' %}" method='POST'>
            {% csrf_token %}
            <!-- name is the key to pass to request.POST[''] -->
            <input id='url-input' type='text' name='url' placeholder='Enter a URL to shorten...' required/> 
            <button type='submit'>click</button>
        </form>
        <div id='short-url-container'>
            <br>
            <span class="{% if short %} shorten {% endif %}">{{ index }}/{{ short }}</span>
        </div>
    </div>

</body>
</html>

{# object['index'] === object.index #}