{% extends "todo_list/base.html" %}

{% block extra_styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">    
{% endblock extra_styles %}

{% block content %}
    <div id='app'>
        <h1>Welcome to your todo list!</h1>

        <form action="{% url 'todos:add_todo' %}" method='POST'>
            {% csrf_token %}            
            <input id='todo-input' type='text' name='todo' placeholder='Enter a task...' required/> <!-- name='todo' key from request.POST -->
            <button type='submit'>click</button>
        </form>

        <ul id='todos-container'>
            {% for todo in todos %} <!-- todos refers to index() todos variable  -->
                <li class="{% if todo.completed %} completed {% endif %}"> <!-- todo -->
                    {{ todo }} <!-- todo -->
                    <a href="{% url 'todos:delete_todo' pk=todo.pk %}"><i class='fa fa-times'></i></a> <!-- todo.pk -->
                    <a href="{% url 'todos:toggle_todo' pk=todo.pk %}"> <!-- todo.pk -->
                        {% if todo.completed_date %}
                            <i class="fa fa-undo"></i>
                        {% else %}
                            <i class='fa fa-check'></i>
                        {% endif %}
                    </a>
                    <a href="{% url 'todos:edit_todo' pk=todo.pk%}"><i class="far fa-edit"></i></a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}