/*
lab5, burrito order form
*/

@import url('https://fonts.googleapis.com/css?family=Germania+One')

header {
	border-radius: 0;
}

h1 {
    font-family: "Germania One", cursive;
    font-size: 5rem;
    color: white;
}

.order-form {
	padding-left: 3em;
}

.container {
	display: flex;
	padding-left: 3em;
	flex-direction: row;

}

.form-check {
	padding-top: 1em;
	padding-bottom: 2em;
}

h3 {
	padding-top: .25em;
	padding-bottom: .25em;
}

.form-row {
	padding-left: 3em;
	padding-right: 3em;
}

.form-group {
	padding-left: 3em;
	padding-right: 3em;
}

.submit {
	margin-top: .5em;
	margin-bottom: 2em;
}

footer {
    background: #333;
    color: white;
    padding: 3em;
}

.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}
